<!doctype html>
<html lang="vi">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap -->
     <link href="/assets/vendor/bootstrap/backend/css/bootstrap.min.css" rel="stylesheet" media="screen">
     <link href="/assets/vendor/bootstrap/backend/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
     <link href="/assets/vendor/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
     <link href="/assets/backend/css/styles.css" rel="stylesheet" media="screen">
     <link href="/assets/backend/css/DT_bootstrap.css" rel="stylesheet" media="screen">
     <link href="/assets/vendor/fullcalendar/fullcalendar.css" rel="stylesheet" media="screen">


     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
     <!--[if lt IE 9]>
         <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
     <script src="/assets/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- Block title - Đục lỗ trên giao diện bố cục chung, đặt tên là `title` -->
    <title>Admin Home Page| 
        {% block title %}
        {% endblock %}
    </title>
    <!-- End block title -->
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/backend/pages/dashboard.php">Admin Panel</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> User Admin <i class="caret"></i>

                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="#">Profile</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a tabindex="-1" href="login.html">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav">
                        <li class="active">
                            <a href="/backend/pages/dashboard.php">Dashboard</a>
                        </li>
                        {# <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Settings <b class="caret"></b>

                            </a>
                            <ul class="dropdown-menu" id="menu1">
                                <li>
                                    <a href="#">Tools <i class="icon-arrow-right"></i>

                                    </a>
                                    <ul class="dropdown-menu sub-menu">
                                        <li>
                                            <a href="#">Reports</a>
                                        </li>
                                        <li>
                                            <a href="#">Logs</a>
                                        </li>
                                        <li>
                                            <a href="#">Errors</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">SEO Settings</a>
                                </li>
                                <li>
                                    <a href="#">Other Link</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Other Link</a>
                                </li>
                                <li>
                                    <a href="#">Other Link</a>
                                </li>
                            </ul>
                        </li> #}
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Content <i class="caret"></i>

                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" target="_blank" href="https://linhfishcr7.wordpress.com/">Blog</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="#">News</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="#">Custom Pages</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="/backend/calendar.php">Calendar</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a tabindex="-1" href="#">FAQ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Users <i class="caret"></i>

                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="#">User List</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="#">Search</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="#">Permissions</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="sidebar">
                <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                    <li class="active">
                        <a href="/backend/pages/dashboard.php"><i class="icon-chevron-right"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/backend/calendar.php"><i class="icon-chevron-right"></i> Calendar</a>
                    </li>
                    <li class="dropdown">
                        <a href="stats.html" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-chevron-right"></i>Thêm mới bảng dữ liệu</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="/backend/nhasanxuat/create.php">Nhà Sản Xuất</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/backend/loaisanpham/create.php">Loại Sản Phẩm</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/backend/sanpham/index.php">Sản Phẩm</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/backend/hinhsanpham/create.php">Hình Sản Phẩm</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/backend/sanpham_dondathang/">Sản Phẩm Đơn Đặt Hàng</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/backend/khachhang/create.php">Khách Hàng</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/backend/khuyenmai/create.php">Khuyến Mãi</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/backend/dondathang/create.php">Đơn Đặt Hàng</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/backend/hinhthucthanhtoan/create.php">Hình Thức Thanh Toán</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/backend/chudegopy/create.php">Chủ Đề Góp Ý</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/backend/gopy/">Góp Ý</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="/backend/khachhang/index.php"><i class="icon-chevron-right"></i> Khách hàng</a>
                    </li>
                    <li>
                        <a href="/backend/loaisanpham/index.php"><i class="icon-chevron-right"></i> Loại sản phẩm</a>
                    </li>
                    <li>
                        <a href="/backend/sanpham/index.php"><i class="icon-chevron-right"></i> Sản phẩm</a>
                    </li>
                    <li>
                        <a href="/backend/chudegopy/index.php"><i class="icon-chevron-right"></i> Chủ đề góp ý</a>
                    </li>
                    <li>
                        <a href="/backend/dondathang/index.php"><i class="icon-chevron-right"></i> Đơn đặt hàng</a>
                    </li>
                    <li>
                        <a href="/backend/gopy"><i class="icon-chevron-right"></i> Góp ý</a>
                    </li>
                    <li>
                        <a href="/backend/hinhthucthanhtoan/index.php"><i class="icon-chevron-right"></i>  Hình thức TT</a>
                    </li>
                    <li>
                        <a href="/backend/khuyenmai/index.php"><i class="icon-chevron-right"></i>  Khuyến mãi</a>
                    </li>
                    {# <li>
                        <a href="#"><span class="badge badge-info pull-right">1,234</span> Users</a>
                    </li>
                    <li>
                        <a href="#"><span class="badge badge-info pull-right">2,221</span> Messages</a>
                    </li>
                    <li>
                        <a href="#"><span class="badge badge-info pull-right">11</span> Reports</a>
                    </li>
                    <li>
                        <a href="#"><span class="badge badge-important pull-right">83</span> Errors</a>
                    </li>
                    <li>
                        <a href="#"><span class="badge badge-warning pull-right">4,231</span> Logs</a>
                    </li> #}
                </ul>
            </div>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                      <!-- Block headline - Đục lỗ trên giao diện bố cục chung, đặt tên là `headline` -->
                      {% block headline %}
                      {% endblock %}
                      <!-- End block headline -->
                </div>

                <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
                {% block content %}
                {% endblock %}
                <!-- End block content -->
            </main>
        </div>
    </div>

    <!-- Optional JavaScript -->
   <!--/.fluid-container-->
   <script src="/assets/vendor/jquery-1.9.1.min.js"></script>
   <script src="/assets/vendor/bootstrap/backend/js/bootstrap.min.js"></script>
   <script src="/assets/vendor/easypiechart/jquery.easy-pie-chart.js"></script>
   <script src="/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>

   <script src="/assets/backend/js/scripts.js"></script>
   <script src="/assets/backend/js/DT_bootstrap.js"></script>

   <link href="/assets/vendor/datepicker.css" rel="stylesheet" media="screen">
   <link href="/assets/vendor/uniform.default.css" rel="stylesheet" media="screen">
   <link href="/assets/vendor/chosen.min.css" rel="stylesheet" media="screen">

   <link href="/assets/vendor/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet" media="screen">

   <script src="/assets/vendor/jquery.uniform.min.js"></script>
   <script src="/assets/vendor/chosen.jquery.min.js"></script>
   <script src="/assets/vendor/bootstrap-datepicker.js"></script>

   <script src="/assets/vendor/wysiwyg/wysihtml5-0.3.0.js"></script>
   <script src="/assets/vendor/wysiwyg/bootstrap-wysihtml5.js"></script>

   <script src="/assets/vendor/wizard/jquery.bootstrap.wizard.min.js"></script>

    <script type="text/javascript" src="/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/assets/backend/js/form-validation.js"></script>
<!-- calendar -->
        <script src="/assets/vendor/jquery-ui-1.10.3.js"></script>
        <script src="/assets/vendor/fullcalendar/fullcalendar.js"></script>
        <script src="/assets/vendor/fullcalendar/gcal.js"></script>
        <script src="/assets/backend/js/JS.js"></script>
</body>
</html>