                    <div class="col-lg-4 col-md-5">
                        <div class="blog__sidebar">
                            <div class="blog__sidebar__search">
                                <form action="#">
                                    <input type="text" placeholder="Search...">
                                    <button type="submit"><span class="icon_search"></span></button>
                                </form>
                            </div>
                            <div class="blog__sidebar__item">
                                <h4>Categories</h4>
                                <ul>
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Beauty (20)</a></li>
                                    <li><a href="#">Food (5)</a></li>
                                    <li><a href="#">Life Style (9)</a></li>
                                    <li><a href="#">Travel (10)</a></li>
                                </ul>
                            </div>
                            <div class="blog__sidebar__item">
                            <h4>Recent News</h4>
                            <div class="blog__sidebar__recent">
                            {% for new in New %}
                                <a href="/frontend/blog/blog-detail.php?bl_ma={{ new.bl_ma }}" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="/assets/uploads/{{ new.hb_tentaptin }}" style="width:70px;height:70px" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>{{ new.bl_chude }}</h6>
                                        <span>{{ new.bl_ngay }}</span>
                                    </div>
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                            <div class="blog__sidebar__item">
                                <h4>Search By</h4>
                                <div class="blog__sidebar__item__tags">
                                    <a href="#">Apple</a>
                                    <a href="#">Beauty</a>
                                    <a href="#">Vegetables</a>
                                    <a href="#">Fruit</a>
                                    <a href="#">Healthy Food</a>
                                    <a href="#">Lifestyle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                
