{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Thêm mới Hình Sản phẩm
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Thêm mới Hình Sản phẩm
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<div class="span9" id="content">
<div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">Thêm mới Hình Sản phẩm</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
        <form class="form-horizontal" name="frmhinhsanpham" id="frmhinhanpham" method="post" action="/backend/hinhsanpham/create.php" enctype="multipart/form-data">
            <div class="control-group success">
                <label for="sp_ma" class="control-label">Sản phẩm</label>
                <div class="controls">
                <select class="form-control" id="sp_ma" name="sp_ma">
                    {% for sanpham in ds_sanpham %}
                    <option value="{{ sanpham.sp_ma }}">{{ sanpham.sp_tomtat }}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
            <div class="control-group">
                <label for="hsp_tentaptin" class="control-label">Tập tin ảnh</label>
                <div class="controls">
                    <input type="file" class="input-file uniform_on" id="hsp_tentaptin" name="hsp_tentaptin">
                </div>
            </div>
            <button class="btn btn-primary" name="btnSave">Cập nhật</button>
        </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{# End Nội dung trong block content #}