{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Thêm mới đơn đặt hàng
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Thêm mới đơn đặt hàng
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Thêm mới đơn đặt hàng</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                     <form class="form-horizontal" name="frmDonDatHang" id="frmDonDatHang" method="post" action="/backend/dondathang/create.php">
                      <fieldset>
                        <legend>Thêm mới đơn đặt hàng</legend>
                        <div class="control-group success">
                            <label class="control-label" for="dh_ma">Mã đơn đặt hàng</label>
                            <div class="controls">
                            <input type="text" id="dh_ma" name="dh_ma" placeholder="Mã đơn đặt hàng"  readonly>
                            <!-- <span class="help-inline">Woohoo!</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="dh_ngaylap">Ngày lập</label>
                            <div class="controls">
                            <input type="date" id="dh_ngaylap" name="dh_ngaylap" placeholder="Ngày lập">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="dh_ngaygiao">Ngày giao</label>
                            <div class="controls">
                            <input type="date" id="dh_ngaygiao" name="dh_ngaygiao" placeholder="Ngày giao">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="dh_noigiao">Nơi giao</label>
                            <div class="controls">
                            <input type="text" id="dh_noigiao" name="dh_noigiao" placeholder="Nơi giao">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>
                    
                        <div class="control-group warning">
                            <label class="control-label" for="dh_trangthaithanhtoan">Trạng thái thanh toán</label>
                            <div class="controls">
                            <input type="text" id="dh_trangthaithanhtoan" name="dh_trangthaithanhtoan" placeholder="Trạng thái thanh toán">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group success">
                            <label for="httt_ma" class="control-label">Hình thức thanh toán</label>
                            <div class="controls">
                                <select class="form-control" id="httt_ma" name="httt_ma">
                                    {% for hinhthucthanhtoan in ds_HTTT %}
                                    <option value="{{ hinhthucthanhtoan.httt_ma }}">{{ hinhthucthanhtoan.httt_ten }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control-group success">
                            <label for="kh_ma" class="control-label">Khách hàng</label>
                            <div class="controls">
                                <select class="form-control" id="kh_ma" name="kh_ma">
                                    {% for khachhang in ds_KhachHang %}
                                    <option value="{{ khachhang.kh_ma }}">{{ khachhang.kh_ten }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <button class="btn btn-primary" name="btnSave">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{# End Nội dung trong block content #}