<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="/frontend/index.php"><img src="/assets/frontend/img/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="/frontend/checkout/cart.php"><i class="fa fa-shopping-bag"></i> <span></span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>$150.00</span></div>
    </div>
    <div class="humberger__menu__widget">
       
        <!-- dang nhap roi thi hien user chua thi login      -->
        {% if session['email_logged'] %}
            <div class="header__top__right__language">
                <div>USER</div>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li> <a href="/frontend/checkout/cart.php">Đơn Hàng</a></li>
                        <li><a href="/frontend/auth/logout.php">Đăng xuất</a></li>
                    </ul>
            </div> 
        
            {% else %}
            <div class="header__top__right__auth">            
                <a href="/frontend/auth/login.php"><i class="fa fa-user"></i> Login</a>
            </div>
        {% endif %}
                
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./shop-grid.html">Shop</a></li>
            <li><a href="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">Shop Details</a></li>
                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                    <li><a href="./checkout.html">Check Out</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="/frontend/pages/contact.php">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="https://www.facebook.com/HaVanLinh1904" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/LINHFISH6" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.pinterest.com/linhfish10c1/" target="_blank"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><a href="mailto:linhfish10c1@gmail.com"><i class="fa fa-envelope"></i>linhfish10c1@gmail.com</a></li>
            <li>Freeship cho hóa đơn trên 100K</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><a href="mailto:linhfish10c1@gmail.com"><i class="fa fa-envelope"></i>linhfish10c1@gmail.com</a></li>
                <li>Freeship cho hóa đơn trên 100K</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="https://www.facebook.com/HaVanLinh1904" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/LINHFISH6" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.pinterest.com/linhfish10c1/" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                                  
               <!-- dang nhap roi thi hien user chua thi login      -->
                        {% if session['email_logged'] %}
                        <div class="header__top__right__language">
                            <div>USER</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li> <a href="/frontend/checkout/cart.php">Đơn Hàng</a></li>
                                    <li><a href="/frontend/auth/logout.php">Đăng xuất</a></li>
                                </ul>
                        </div>
                        {% else %}
                        <div class="header__top__right__auth">            
                            <a href="/frontend/auth/login.php"><i class="fa fa-user"></i> Login</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/frontend/index.php"><img src="/assets/frontend/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/frontend/index.php">Home</a></li>
                        <li><a href="/frontend/sanpham/search.php">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="/frontend/pages/contact.php">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart" >
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li id="baocaoKhachHang_quantity"><a href="/frontend/checkout/cart.php"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->